body{
  background-color: gray;
  justify-content: center;
  text-align: center;
}



/* navstyle got hover from https://www.sliderrevolution.com/resources/css-link-hover-effects/    */
.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}
.link-wrapper {
  position: relative;

}



.hover-6:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 3px;
  background-color: lightblue;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.hover-6:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  height: 3px;
  background-color: lightblue;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-6:hover:before {
  transform: scaleX(1);
}
.hover-6:hover:after {
  transform: scaleX(1);
}

.navbar {
  background-color: #343a40;
}
/* navstyle */


/* carousel */
  .img1{
    max-width: 50%;
    margin: 0% 25%;
  }

.cooltext{
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
}
/* carousel */


/*cards */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 10px 10px 2px black;
  border-radius: 8px black;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 40px);
  }
}

/*cards */



/*button style https://www.sliderrevolution.com/resources/css-button-hover-effects/ */
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  position: relative;
  display: block;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid lightblue;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: lightblue;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn3::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 450%;
}

/*button style */

/*footer hover/footerstyle */
.footerhover:hover{
  animation: bounce .3s infinite alternate;
  
}

@keyframes bounce {
  to { transform: scale(1.2); }
}

.footerstyle{
  bottom: 0;
}
/*footer hover  */