body{
  background-color: gray;
  justify-content: center;
  text-align: center;
}



/* navstyle */
.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #fff;
}
.link-wrapper {
  position: relative;

}

.hover-6:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 3px;
  background-color: #000080;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s;
}
.hover-6:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  height: 3px;
  background-color: #000080;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}
.hover-6:hover:before {
  transform: scaleX(1);
}
.hover-6:hover:after {
  transform: scaleX(1);
}

.navbar {
  background-color: #343a40;
}
/* navstyle */


/* carousel */
  .img1{
    max-width: 50%;
    margin: 0% 25%;
  }

.cooltext{
  font-family: 'Courier New', Courier, monospace;
}
/* carousel */


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px black;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 40px);
  }
}